.navbar{
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    background-color: rgba(1, 1, 1, 0.8);
    color: rgba(1, 1, 1, 0.8);
}

.footer{
    margin-top: 10px;
    text-align: center;
    color: grey;
    background-color: rgba(1, 1, 1, 0.8);
}