.navbar{
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    background-color: rgba(1, 1, 2, 0.8);
    color: rgba(1, 1, 2, 0.8);
    padding:10px;
    padding-right: 5px;
    margin-bottom: 10px;

    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.5s ease;
}

.unpadded{
    padding:0;
    padding-right: 5px;
    opacity: 0.9;

    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.5s ease;
}

.footer{
    margin-top: 10px;
    text-align: center;
    color: grey;
    background-color: rgba(1, 1, 1, 0.8);
}

p{
    text-indent: 50px;
}

.panel-heading .accordion-toggle:after {
   font-family: FontAwesome;
   content:  "\f054";
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f053";
}
